
<div class="button-wrap">
  <button class="btn btn-hide" id="btn">
    <%= t('show_visualization_btn') %>
  </button>
</div>

<div class="cluster"></div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<%= javascript_include_tag 'd3.tip.js' %>
<%= javascript_include_tag 'btn_grafic.js' %>