<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h1>Editing Import</h1>

        <%= render 'form', import: @import %>

        <%= link_to 'Show', @import %> |
        <%= link_to 'Back', imports_path %>
      </div>
    </div>
  </div>
</div>
