<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <p class="text-center mt-2">Baixe o arquivo de exemplo no formato json - <%= link_to "Exemplo", download_exemple_file_path %></p>
        <%= render 'form_create', import: @import %>
      </div>
    </div>
  </div>
</div>
